@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');
.section-title{
    font-family: 'Inria Serif', serif;
}

.skills-card{
    border: 2px solid;
    padding: 10px;
    font-family: 'Inria Serif', serif;
    font-size: 25px;
}